#company-table {
  width: 100%;
  border-collapse: collapse;
}

#company-table td,
#company-table th {
  padding: 15px;
  text-align: start;
  border-bottom: 3px solid #f8f8fa;
}

tr {
  background-color: white;
}

#company-table tr:hover:not(thead>tr) {
  background-color: #f1f1f5;
  cursor: pointer;
}

#company-table th {
  color: #b10065;
}

.table-container {
  height: 448px;
  overflow: auto;
}

thead {
  position: sticky;
  top: 0;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b7b89;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b10065;
}