.image {
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.company-details-content {
    display: flex;
    justify-content: space-between;
}

.details-card {
    margin: 20px;
    width: 180px;
}

#nearby-places-card {
    background-color: white;
    margin: 20px;
    padding: 0 20px 20px 20px;
    width: 600px;
}

#nearby-places-card td {
    padding: 10px;
    background-color: #f8f8fa;
}

#nearby-places-table {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .company-details-content {
        display: grid;
    }

    #nearby-places-card {
        width: unset;
        margin: unset;
    }
}