body {
    margin: 0;
}

h1 {
    color: #3e3e3e;
    font-weight: lighter;
    font-size: large;
}

p, td {
    color: #7b7b89;
}

.main-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 40px;
    background-color: #f8f8fa
}